@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563dcc;
}
.btn-primary:hover {
  background-color: #563dcc;
  border: 1px solid #563dcc;
}
.banner-image {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
/* contact */
#contact .banner-image {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
#contact {
  margin-top: 80px;

}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label {
  display: block;
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn-tertiary {
  display: inline-block;
  background-color: white;
  color: black;
  border: 2px solid mediumpurple;
  padding: 14px 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 50%;
}
/* services */
#services .card{
  padding: 10px;
  border-radius: 4px;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#services .card-title {
  font-size: 150%;
}
#vaservices .card{
  padding: 10px;
  border-radius: 4px;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#wordpress img {
  height: 400px;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#wordpress h3 {
  text-align: center;
}
#wpcontainer {
  margin-top: 20px;
}
#landingpage1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

#landingpage1 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage2 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage2 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage3 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage3 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage4 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage4 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage5 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage5 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage6 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage6 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage7 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage7 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage8 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage8 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage9 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage9 {
  margin-top: 60px;
  margin-bottom: 30px;
}
#landingpage10 img {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#landingpage10 {
  margin-top: 60px;
  margin-bottom: 50px;
}
#pokemon {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
}
#selectors {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#photogrid {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#pattern {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#myboard {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#myblog {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#index2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#gallery {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#stalker {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#museum {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#game {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#calc {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#forLoops {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#functionproblemset
{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#arraysolution {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#todolist2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.slogan p {
  font-size: 18px;
  text-align: justify;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3, .fa-js, .fa-wordpress, .fa-desktop {
  font-size: 4em;
  margin: 1rem;
}
.fa-js {
  color: #F0DB4F;
}
.fa-wordpress {
  color: #21759b;
}
.fa-desktop {
  color: #b19cd9;
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 3em;
  padding: 2rem;
}
/* #contact .social a {
  font-size: 3em;
  padding: 3rem;
} */
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-instagram {
color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}
.fa-linkedin {
  color: #0077B5;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
.social a {
  font-size: 4em;
  padding: 2rem;
}
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
}
#services .card-title {
  font-size: 100%;
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2rem;
    padding: .7rem;
}
#services .card-title {
  font-size: 150%;

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








